.fondoIndex {
  background-image: url("../../img/fondoIndex.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 55px;
  margin-right: 55px; }

.fondoAbout {
  background-image: url("../../img/fondoAbout.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 55px;
  margin-right: 55px; }

.fondoContact {
  background-image: url("../../img/fondoContact.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 55px;
  margin-right: 55px; }

.fondoRecipes {
  background-image: url("../../img/fondoRecipes.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 55px;
  margin-right: 55px; }

.fondoSpecial {
  background-image: url("../../img/fondoSpecial.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 55px;
  margin-right: 55px; }

.flex {
  display: flex;
  justify-content: center; }
  .flex .carousel {
    width: 100vh;
    height: auto;
    margin-top: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .flex .carousel .carousel-inner {
      border: white solid 15px; }
      .flex .carousel .carousel-inner .h5, .flex .carousel .carousel-inner h5 {
        font-size: 2rem;
        font-weight: bold; }
      .flex .carousel .carousel-inner .carousel-caption {
        color: white;
        text-shadow: 4px 4px 4px #000000; }
    .flex .carousel .carousel-control-next-icon, .flex .carousel .carousel-control-prev-icon {
      width: 4rem;
      height: 4rem; }

.sectionAbout {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  margin: 30px;
  padding: 30px; }
  .sectionAbout .imgAbout {
    width: 60vh;
    border: white solid 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); }
  .sectionAbout p {
    color: white;
    text-shadow: 4px 4px 4px #000000;
    font-size: 18px;
    margin: 10px;
    padding: 10px; }

.formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px; }
  .formulario input {
    width: 450px;
    height: 50px;
    padding: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px; }
  .formulario textarea {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 450px;
    height: 200px;
    margin: 20px;
    padding: 13px; }
  .formulario #buttonFormulario {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 4px 4px 4px #000000;
    padding: 10px;
    width: 90px;
    left: 91%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 138, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    cursor: pointer; }
    .formulario #buttonFormulario #buttonFormulario:hover {
      background-color: #008AFF; }

.sectionRecetas {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: flex-end;
  flex-direction: column; }
  .sectionRecetas h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: #008AFF;
    text-shadow: 4px 4px 4px #000000;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 4vh;
    text-align: center; }
  .sectionRecetas .tartas {
    display: flex; }
    .sectionRecetas .tartas p {
      color: white;
      font-size: 1rem;
      text-shadow: 4px 4px 4px #000000; }
    .sectionRecetas .tartas img, .sectionRecetas .tartas svg {
      margin-left: 15px;
      border: white solid 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); }
  .sectionRecetas .muffins {
    display: flex; }
    .sectionRecetas .muffins p {
      color: white;
      font-size: 1rem;
      text-shadow: 4px 4px 4px #000000; }
    .sectionRecetas .muffins img, .sectionRecetas .muffins svg {
      margin-left: 15px;
      border: white solid 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); }

.sectionSpecial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .sectionSpecial .card {
    margin-top: 4vh;
    border: white solid 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 138, 255, 0.5); }
    .sectionSpecial .card title {
      color: white;
      font-size: 1.5em;
      text-align: center;
      text-shadow: 4px 4px 4px #000000; }
    .sectionSpecial .card .card-body .card-text {
      color: white;
      text-align: center;
      font-size: .9em;
      text-align: center;
      text-shadow: 4px 4px 4px #000000; }
    .sectionSpecial .card .btn-primary {
      color: white;
      background-color: #008AFF;
      border-color: #008AFF;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9); }

header {
  background-color: black;
  height: 24vh; }
  header .logo {
    position: relative;
    top: 4.5vh;
    left: 3vh; }
    header .logo img, header .logo svg {
      width: 20vh; }
  header h2 {
    font-size: 4rem;
    font-weight: bolder;
    color: white;
    position: relative;
    top: 9vh;
    left: 7vh; }
  header .navHeader {
    position: relative;
    top: 13vh;
    left: 20px;
    list-style-type: none;
    padding: 10px;
    margin: 0 10px;
    cursor: pointer; }
    header .navHeader ul {
      display: flex;
      list-style: none;
      justify-content: center; }
      header .navHeader ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px;
        margin: 15px; }
        header .navHeader ul li a li :hover {
          font-style: italic;
          color: #008AFF; }

.footer {
  width: 100%;
  height: 10vh;
  padding-right: 10vh;
  background-color: black;
  text-align: end; }
  .footer .footerIconos {
    font-size: 1.5rem;
    color: white;
    border-radius: 50%;
    margin: 0 5px;
    margin-top: 2vh;
    width: 30px;
    height: 30px; }
    .footer .footerIconos .footerIconos:hover {
      transform: scale(1.2);
      color: #008AFF;
      background-color: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

main {
  background-color: black;
  height: 500px; }

h1 {
  font-size: 1.5rem;
  font-style: none;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  background-color: rgba(0, 138, 255, 0.5);
  text-align: center; }
