* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

// main {
//     background-color: black;
//     height: 500px;
// }

// h1 {
//     font-size: 1.5em;
//     font-style: none;
//     font-weight: bold;
//     color: white;
//     text-shadow: 2px 2px 4px #000000;
//     background-color: rgba(0, 138, 255, 0.5);
//     text-align: center;
// }

// VARIABLES
@import 'utilities/colors';
@import 'utilities/extend';
@import 'utilities/maps';
@import 'utilities/mixins';
@import 'utilities/sizes';
@import 'components/cards';
@import 'components/forms';
@import 'components/navbar';

// IMPORTS
@import 'sections/index';
@import 'sections/aboutUs';
@import 'sections/contact';
@import 'sections/recipes';
@import 'sections/specialOccasions';

