* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: black;
    height: 500px;
}

h1 {
    font-size: $h1Main;
    font-style: none;
    font-weight: bold;
    color: white;
    text-shadow: $sombraTexto;
    background-color: rgba(0, 138, 255, 0.5);
    text-align: center;
}

// VARIABLES
@import 'utilities/variables';
@import 'utilities/extend';
@import 'utilities/maps';
@import 'utilities/mixin';
@import 'components/cards';
@import 'components/forms';
@import 'components/navbar';

// IMPORTS
@import 'sections/index';
@import 'sections/aboutUs';
@import 'sections/contact';
@import 'sections/recipes';
@import 'sections/specialOccasions';
@import 'sections/header-footer/header';
@import 'sections/header-footer/footer';

