.sectionAbout {
    display: flex;
    align-items: center;
    flex-direction: row;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: $boxShadow;
    margin: 30px;
    padding: 30px;
    .imgAbout {
        width: 60vh;
        border: white solid 15px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: $boxShadow;
    }
    p {
        color: white;
        // text-shadow: 2px 2px 4px #000000;
        text-shadow: $textShadow;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        }
}