// .bodyAbout {
//     background-color: black;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
// }

// .fondoAbout {
//     background-image: url("../img/fondoAbout.jpg");
//     background-size: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 80vh;
//     margin-left: 55px;
//     margin-right: 55px;
// }

.sectionAbout {
    display: flex;
    align-items: center;
    flex-direction: row;
    // background-color: rgba(0, 0, 0, 0.5);
    background-color: $sombraBox;
    margin: 30px;
    padding: 30px;
    .imgAbout {
        width: 60vh;
        border: white solid 15px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: $sombraBox;
    }
    p {
        color: white;
        // text-shadow: 2px 2px 4px #000000;
        text-shadow: $sombraTexto;
        font-size: 18px;
        margin: 10px;
        padding: 10px;
        }
}