// .fondoContact {
//     background-image: url("../img/fondoContact.jpg");
//     background-size: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 80vh;
//     margin-left: 55px;
//     margin-right: 55px;
// }

.formulario {
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    input {
        width: 450px;
        height: 50px;
        padding: 13px;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
    }
    textarea {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        width: 450px;
        height: 200px;
        margin: 20px;
        padding: 13px;
    }
    #buttonFormulario{
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        // text-shadow: 2px 2px 4px #000000;
        text-shadow: $sombraTexto;
        padding: 10px;
        width: 90px;
        left: 91%;
        border: none;
        border-radius: 10px;
        color: white;
        background-color: rgba(0, 138, 255, 0.5);
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: $sombraBox;
        cursor: pointer;
        #buttonFormulario:hover{
            background-color: $azul;
        }
    }   
}