// .fondoIndex {
//     background-image: url("../img/fondoIndex.jpg");
//     background-size: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     height: 80vh;
//     margin-left: 55px;
//     margin-right: 55px;
// }


.flex {
    display:flex;
    justify-content: center;
    .carousel {
        width: 100vh;
        height: auto;
        margin-top: .5vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .carousel-inner {
            border: white solid 15px;
            .h5, h5 {
            font-size: 2rem;
            font-weight: bold;
            }
            .carousel-caption {
                color: white;
                text-shadow: 4px 4px 4px #000000;
            }
        }
        .carousel-control-next-icon, .carousel-control-prev-icon {
            width: 4rem;
            height: 4rem;
        }
    }
}