.sectionRecetas {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-direction: column;
    h3 {
        font-weight: bold;
        font-size: 1.5em;
        color: $azul;
        // text-shadow: 4px 4px 4px #000000;
        text-shadow: $textShadow;
        background-color: rgba(0, 0, 0, 0.5);
        margin-top: 4vh;
        text-align: center
    }
    .tartas {
        display: flex;
        p {
            color: white;
            font-size: 1rem;
            // text-shadow: 4px 4px 4px #000000;
            text-shadow: $textShadow;
        }
        img, svg {
            margin-left: 15px;
            border: white solid 10px;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: $boxShadow;
        }
    }
    .muffins {
        display: flex;
        p {
            color: white;
            font-size: 1rem;
            // text-shadow: 4px 4px 4px #000000;
            text-shadow: $textShadow;
        }
        img, svg {
            margin-left: 15px;
            border: white solid 10px;
            // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: $boxShadow;
        }
    }
}