.sectionSpecial {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    .card {
        margin-top: 2vh;
        border: white solid 15px;
        box-shadow: $boxShadow;
        background-color: rgba(0, 138, 255, 0.5);
        .card-img-top {
            margin-top: 2vh;
        }
        .card-title {
            color: white;
            font-size: 1.5em;
            text-align: center;
            text-shadow: $textShadow;
        }
        .card-body .card-text {
            color: white;
            text-align: center;
            font-size: .9em;
            text-align: center;
            text-shadow: $textShadow;
        }
        .btn-primary {
            color: white;
            background-color: $azul;
            border-color: $azul;
            box-shadow: $boxShadow;
                &:hover {
                    transform: scale(1.2);
                    color: $azul;
                    background-color: black;
                }
        }
    }
}