// // EXTEND

// %estilosParrafo {
//     font-family: sans-serif;
//     line-height: 1.5;
//     font-size: 1.2rem;
// }

// %estilosTitulos {
//     font-size: 30px;
//     font-family: serif;
//     text-transform: uppercase;
// }