// // MAPA
// $textoResaltado: (
//     inicio: #0d5c0d,
//     verano: #f36506,
//     mitos: #5d2c9c,
//     espectaculo: #ff00d4,
// );

// // BUCLE
// @each $frases, $color in $textoResaltado {
//     .#{$frases} {
//         color: $color;
//         font-weight: bold;
//     }
// }

// MAPA BACKROUND-IMAGES DE CADA HTML
// $background-img: (
//     fondoIndex: url("../img/fondoIndex.jpg"),
//     fondoAbout: url("../img/fondoAbout.jpg"),
//     fondoContact: url("../img/fondoContact.jpg"),
//     fondoRecipes: url("../img/fondoRecipes.jpg"),
//     fondoSpecial: url("../img/fondoSpecial.jpg"),
// );

// // BUCLE BACKROUND-IMAGES DE CADA HTML
// @each $fondo-body, $imagen in $background-img {
//     #{$fondo-body} {
//         background-image: $imagen;
//     }
// };

// // MAPA de tama単os DE TITULO
// $font-sizes: (
//     h1: 48px,
//     h2: 36px,
//     h3: 26px,
//     p: 18px,
// );

// // BUCLE de tama単os DE TITULO
// @each $etiqueta, $tama単o-titulos in $font-sizes {
//     #{$etiqueta} {
//         font-size: $tama単o-titulos;
//     }
// }