@mixin fondoMain ($imgFondo) {
    background-image: $imgFondo;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin-left: 55px;
    margin-right: 55px;
}

.fondoIndex {
    @include fondoMain (url('../../img/fondoIndex.jpg'));
}

.fondoAbout {
    @include fondoMain (url('../../img/fondoAbout.jpg'));
}

.fondoContact {
    @include fondoMain (url('../../img/fondoContact.jpg'));
}

.fondoRecipes {
    @include fondoMain (url('../../img/fondoRecipes.jpg'));
}

.fondoSpecial {
    @include fondoMain (url('../../img/fondoSpecial.jpg'));
}