// COLORS
$azul: #008AFF;

// SHADOW IN TEXT
$sombraTexto: 4px 4px 4px #000000;

// SHADOW IN BOXES
$sombraBox: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

// // FONT SIZES
$h2Nav: 4rem;
$h1Main: 1.5rem;

// // HEIGHTS
    $headerHeight: 24vh;
    $footerHeight: 10vh;
    $mainHeight: 100vh - ($headerHeight + $footerHeight);
