// COLORS
$azul: #008AFF;

// SHADOW IN TEXT
$sombraTexto: 4px 4px 4px #000000;

// SHADOW IN BOXES
$sombraBox: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

// // FONT SIZES
// $ancho: 1050px;
// $font-size-grande: 5rem;


// .bg-color-primary {
//     background-color: $colorPrimario;
// }

// bg-secondary {
//     background-color: coral;
// }
