.footer {
    width: 100%;
    height: $footerHeight;
    padding-right: 10vh;
    background-color: black;
    text-align: end;
    .footerIconos{
        font-size: 1.5rem;
        color: white;
        border-radius: 50%;
        margin: 0 5px;
        margin-top: 2vh;
        width: 30px;
        height: 30px;
        .footerIconos:hover {
            transform: scale(1.2);
            color: $azul;
            background-color: black;
        }
    }
}