header {
    background-color: black;
    height: 150px;
    .logo {
        position: relative;
        top: 4.5vh;
        left: 26px;
        img, svg {
            width: 20vh;
        }
    }
    .tituloHeader {
        color: white;
        position: relative;
        top: 9vh;
        left: 50px;
        h2 {
            font-size: 10vh;
            font-weight: bolder;
        }
    }
    .navHeader {
        position: relative;
        top: 13vh;
        left: 20px;
        list-style-type: none;
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            li a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                margin: 15px;
                li :hover {
                    font-style: italic;
                    color: $azul;
                }
            }
        }
    }
}