header {
    background-color: black;
    height: $headerHeight;
    .logo {
        position: relative;
        top: 4.5vh;
        left: 3vh;
        img, svg {
            width: 20vh;
        }
    }

h2 {
    font-size: $h2Nav;
    font-weight: bolder;
    color: white;
    position: relative;
    top: 9vh;
    left: 7vh;
}

    .navHeader {
        position: relative;
        top: 13vh;
        left: 20px;
        list-style-type: none;
        padding: 10px;
        margin: 0 10px;
        cursor: pointer;
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            li a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                margin: 15px;
                &:hover {
                    font-style: italic;
                    color: $azul;
                }
            }
        }
    }
}